<div id="game">

<%if @loser %>
   <div class="alert alert-error"><%=@loser%></div>
<% end %>
<%if @winner %>
  <div class="alert alert-success"><%=@winner%></div>
<% end %>

<h1>Blackjack</h1>
<p>Welcome <%= session[:player_name]%></p>

<p>
  <% if @show_play_again %>
    <h5><strong>Play again?</strong></h5>
    <a href="/bet" class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn">No</a>
  <% end %>
</p>

<div class="well">
  <h4>Dealer's Cards</h4>
  <% session[:dealers_cards].each_with_index do |card, i| %>
    <% if session[:turn] != "dealer" && i == 0 %>
      <img src="/images/cards/cover.jpg" />
    <% else %>
      <%= card_image(card) %>
    <% end %>
  <% end %>

  <p>
    <h5>Dealer has <%= calculate_total(session[:dealers_cards]) %></h5>
    <% if @show_dealer_hit_button %>
      <form id="dealer_hit" action="/game/dealer/hit" method="post">
        <input type="submit" class="btn btn-primary" value="Click to see dealer's next card &rarr;">
      </form>
    <% end %>
  </p>
</div>

<br />

<div class="well">
  <h4>Player's Cards</h4>
  <% session[:players_cards].each do |card| %>
  	<%= card_image(card) %>
  <% end %>
  <h5><%= session[:player_name] %> has bet $<%= session[:player_bet] %></h5>
</div>

<p>
  <%= session[:player_name] %>'s turn.
  <%= session[:player_name] %>'s total is <%= calculate_total(session[:players_cards]) %>

  <% if @show_hit_and_stay_buttons %>
    <form id="hit_button" action="/game/player/hit" method="post">
      <input type="submit" class="btn btn-success" value="Hit">
    </form>

    <form id="stay_button" action="/game/player/stay" method="post">
      <input type="submit" class="btn btn-warning" value="Stay">
    </form>
  <% end %>
</p>
</div>